/* ---- GLOBAL STYLES ---- */

body {
  font-size: 16px;
  color: black;
  background-color: #e6e6e6;
  font-family: 'Arial', sans-serif;

}

/*------header styles-------*/

#header-nav {
  background-color: #4d4d4d;
  border-radius: 0;
  border: 0;
}

 .navbar-brand { /* Restaurant name */
  font-family: 'Futura', sans-serif, bold;
  color: white;
  font-size: 1.8em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-brand {
  padding-top: 10px;
}

.navbar-brand a:hover, .navbar-brand a:focus, .nav-item a:hover, nav-item a:focus {
  text-decoration: none; /*gets rid of link decoration so it doesn't look like a link */
}

button.navbar-toggler {
  clear: both;
}

#navbar-list li {
  text-align: center;
  background-color: white;
  border: 1px solid black;
}

#navbar-list li:hover {
  background: #cccccc;
}

li > a {
  color: black;
  font-size: 1.2em;
}


/******* end header ******/


#menu h1 {
  font-family: 'Futurua', sans-serif;
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 10px;

}

.row {
  background-color: white;
  height: 1000px;
  margin-left: 1%;
  margin-right: 1%; 

}
